@import (reference) 'clearfix';
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100");
/** Colors **/

@article-background: #f0f0f0;
@article-text-color: rgb(33, 24, 19);
@body-background-color: rgb(39, 205, 240);

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: @body-background-color linear-gradient(rgba(0, 0, 0, 0.3), transparent) repeat fixed 0% 0%;
}

h1, h2, h3 {
    margin: 0;
    line-height: 1;
    font-weight: 100;
}

.article {
    .clearfix;
    h1 {
        font-size: 4em;
        text-align: center;
        margin-bottom: .5em;
    }
    h2 {
        font-size: 2em;         
    }
    .head {
        margin: 0 2em 0 0;
        max-width: 300px;
        border-radius: 50%;
        float: left;
        border: 2px solid white;
    }
    padding: 2em;
    margin: 2em auto;
    max-width: 800px;
    background-color: @article-background;
    color: @article-text-color;
    border-radius: 1em;
    box-shadow: 0px 4px 9px 1px rgba(0,0,0,0.4);
    p {
        font-weight: 300;
        font-size: 1.1em;
    }
}

.twitter-tl {
    text-align: center;
}

.draft {
    color: red;
}
